/*企业征信首页*/
nav {
  width: 100%;
  height: 60px;
  background: #283c5e;
}
nav ul {
  width: 100%;
  height: 100%;
}
nav ul li {
  padding: 0 30px;
  float: left;
  text-align: center;
  line-height: 60px;
}
nav ul li a {
  font-size: 18px;
  color: #E4E4E4;
}
nav ul li a:hover {
  text-decoration: underline;
}
.content {
  width: 100%;
}
.content .tab-bar {
  width: 567px;
  margin: 44px auto;
}
.content .tab-bar div {
  float: left;
  cursor: pointer;
}
.content .tab-bar div i {
  display: block;
  float: left;
  width: 27px;
  height: 27px;
  background-size: cover;
  background: url(../images/unsuccess.png) no-repeat;
}
.content .tab-bar div i.active {
  width: 27px;
  height: 27px;
  background-size: cover;
  background: url(../images/success.png) no-repeat;
}
.content .tab-bar div span {
  float: left;
  font-size: 18px;
  color: #212121;
  margin-left: 22px;
}
.content .tab-bar div.ml {
  margin-left: 93px;
}
.content .tab-list {
  width: 100%;
  display: none;
}
.content .tab-list .querydata {
  width: 822px;
  margin: 3px auto;
}
.content .tab-list .querydata input {
  border: 0;
  outline: none;
  border: 1px solid #005bac;
  width: 708px;
  padding-left: 17px;
  height: 51px;
}
.content .tab-list .querydata ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: 18px;
}
.content .tab-list .querydata :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 18px;
}
.content .tab-list .querydata ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 18px;
}
.content .tab-list .querydata :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: 18px;
}
.content .tab-list .querydata div {
  width: 91px;
  height: 53px;
  border: 1px solid #005bac;
  background: #005bac;
  cursor: pointer;
}
.content .tab-list .querydata div img {
  width: 31px;
  height: 31px;
  margin-top: 10px;
  vertical-align: middle;
}
.content .tab-list .choose {
  width: 822px;
  height: auto;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 36px;
}
.content .tab-list .choose .choose-left {
  width: 729px;
}
.content .tab-list .choose .choose-left label {
  font-size: 16px;
  cursor: pointer;
  float: left;
  margin: 10px 34px 10px 0;
}
.content .tab-list .choose .choose-left label input[type="checkbox"] {
  display: none;
}
.content .tab-list .choose .choose-left label input[type="checkbox"]:checked + i {
  background: #283c5e;
}
.content .tab-list .choose .choose-left label i {
  font-size: 18px;
  font-style: normal;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  color: #fff;
  vertical-align: middle;
  margin: -2px 8px 1px 0;
  border: 1px solid #283c5e;
}
.content .tab-list .choose .choose-right {
  width: 93px;
}
.content .tab-list .choose .choose-right span {
  font-size: 16px;
  color: #434242;
  cursor: pointer;
  padding: 10px 0;
  display: none;
}
.content .tab-list .choose .choose-right span i {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
}
.content .tab-list .choose .choose-right span:first-child i {
  background: url(../images/arrow-down.png) no-repeat;
}
.content .tab-list .choose .choose-right span:last-child i {
  background: url(../images/arrow-up.png) no-repeat;
}
.content .tab-list .choose .choose-right span.active {
  display: block;
}
.content .tab-list table {
  width: 100%;
  height: 162px;
  margin-top: 10px;
}
.content .tab-list table tr th {
  width: 238px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  float: left;
  background: #92b9db;
  color: #212121;
  font-size: 18px;
  margin-left: 1px;
  box-shadow: 0px 0px 2px #a8adb2;
}
.content .tab-list table tr td {
  width: 238px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  float: left;
  background: #92b9db;
  color: #f5f5f5;
  font-size: 16px;
  margin-left: 1px;
  box-shadow: 0px 0px 2px #a8adb2;
}
.content .tab-list table tr td a {
  color: #f5f5f5;
  font-size: 16px;
}
.content .tab-list table tr td a:hover {
  text-decoration: underline;
}
.content .tab-list table tr:nth-child(even) td {
  background: #a2c3e0;
}
.content .tab-list.active {
  display: block;
}
